.done {
	text-decoration: line-through;
}

.none {
	display: none !important
}

.inportant {
	font-weight: bold;
	color: steelblue;
}

.hidden-input-name {
	margin: 15px 50px 15px 60px;
	padding: 4.6px 50px 5px 10px;
}

.hidden-input-timer {
	margin: 15px 5px 15px 15px;
	max-width: 47.5px;
	box-sizing: border-box;
}

.hidden-input-form {
	display: flex;
	margin-right: 30px;
}
